{% extends "root.html" %}
{% load static %}

{% block head %}
{% endblock head %}

{% block body %}
<h1>Сайт пошуку роботи №1 в Україні</h1>
<form action="/" method="post" class="row">

    <input type="text" name="description" placeholder="Посада" value="{{ form.description }}">
    <input type="text" name="city" list="cities" placeholder="Місто" value="{{ form.city }}">
    <div class="select">
        <select name="job_type" id="job_type">
            {% if form.job_type=="" %}
            <option value="" selected>-- Будь яка зайнятість --</option>
            {% else%}
            <option value="">-- Будь яка зайнятість --</option>
            {% endif %}

            {% if form.job_type=="R" %}
            <option value="R" selected>Дистанційна</option>
            {% else%}
            <option value="R">Дистанційна</option>
            {% endif %}

            {% if form.job_type=="F" %}
            <option value="F" selected>Повна зайнятість</option>
            {% else%}
            <option value="F">Повна зайнятість</option>
            {% endif %}

            {% if form.job_type=="P" %}
            <option value="P" selected>Часткова зайнятість</option>
            {% else%}
            <option value="P">Часткова зайнятість</option>
            {% endif %}

            {% if form.job_type=="N" %}
            <option value="N" selected>Фріланс</option>
            {% else%}
            <option value="N">Фріланс</option>
            {% endif %}
        </select>
        <label for="job_type" class="arrow"></label>
    </div>
    <button type="submit" class="button submit">
        <i class="fi fi-bs-search"></i>
        <span>Пошук</span>
    </button>
    <datalist id="cities">
        {% include "datalists/cities.html" %}
    </datalist>
</form>
{% for search_result in search_results %}
<a class="card" href="/vacancy/@{{ search_result.id }}/">
    {% if search_result.photo %}
    <img src="{{ search_result.photo }}" alt="">
    {% else %}
    <img src="{% static 'images/user_placeholder.jpg' %}" alt="">
    {% endif %}
    <div>
        <h1>{{ search_result.title }}</h1>
        <span>{{ search_result.description }}</span>
    </div>
    <span>{{ search_result.creation_time }} - {{ search_result.publisher }}</span>
</a>
{% endfor %}
{% endblock body %}
