{% extends "root.html" %}
{% load static %}

{% block head %}
<script defer>
    function load() {
        const city_selection = document.querySelector("#city");
        if (city_selection) {
            city_selection.childNodes.forEach(option => {
                if (option.value === city_selection.dataset?.city) {
                    option.selected = true;
                }
            });
        }
    }

    function wait() {
        let city = document.querySelector("#city");
        if (city) {
            load();
        } else {
            setTimeout(wait, 100);
        }
    }

    wait();
</script>
{% endblock head %}

{% block body %}
    {% if order_info %}
        <div id="payment">
            <h1>Платіж успішно здійснено</h1>
            <span>Тепер ваша вакансія <a href="/vacancy/@{{ order_info.vacancy.id }}/">{{ order_info.vacancy.title }}</a> з'явиться перед іншими</span>
        </div>
    {% endif %}
<h1>Сайт пошуку роботи №1 в Україні</h1>
<form action="/" method="post" class="row">

    <input type="text" name="description" placeholder="Посада" value="{{ form.description }}">
    <div class="select">
        <select name="city" id="city">
            {% include "datalists/cities.html" %}
        </select>
        <label for="city" class="arrow"></label>
    </div>
    <div class="select">
        <select name="job_type" id="job_type">
            <option value="" {% if form.job_type == "" %}selected{% endif %}>-- Будь яка зайнятість --</option>
            <option value="R" {% if form.job_type == "R" %}selected{% endif %}>Дистанційна</option>
            <option value="F" {% if form.job_type == "F" %}selected{% endif %}>Повна зайнятість</option>
            <option value="P" {% if form.job_type == "P" %}selected{% endif %}>Часткова зайнятість</option>
            <option value="N" {% if form.job_type == "N" %}selected{% endif %}>Фріланс</option>
        </select>
        <label for="job_type" class="arrow"></label>
    </div>
    <button type="submit" class="button submit">
        <i class="fi fi-bs-search"></i>
        <span>Пошук</span>
    </button>
    <datalist id="cities">
        {% include "datalists/cities.html" %}
    </datalist>
</form>
{% for search_result in search_results %}
<a class="card" href="/vacancy/@{{ search_result.id }}/">
    {% if search_result.photo %}
    <img src="{{ search_result.photo }}" alt="">
    {% else %}
    <img src="{% static 'images/user_placeholder.jpg' %}" alt="">
    {% endif %}
    <div>
        <h1>{{ search_result.title }}</h1>
        <span>{{ search_result.description }}</span>
    </div>
    <span>{% if search_result.is_premium %}<strong style="color: #ffae00;">PREMIUM</strong> - {% endif %}{{ search_result.creation_time }} - {{ search_result.publisher }}</span>
</a>
{% endfor %}
{% endblock body %}
